:root {
    --tamsi-spalva: #343A40;
    --akcentuojama-spalva: #1DE1AC;
}

@font-face {
    font-family: "base-font medium";
    src: url(/assets/fonts/CerebriSansPro-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "base-font bold";
    src: url(/assets/fonts/CerebriSansPro-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "base-font semi-bold";
    src: url(/assets/fonts/CerebriSansPro-SemiBold.ttf) format("truetype");
}

body {
    margin: 20px auto;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    * {
        font-family: 'Mandali';
        color: #6C757D;
        font-size: 18px;
        line-height: 1.7;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "base-font medium";
    color: var(--tamsi-spalva);
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.subtitle {
    color: #6c757d;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    font-weight: 500;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 8px;
    line-height: 1.3;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}



