section#testimonial {
    padding: 70px 0;
    background-color: #f7eac3;
    height: fit-content;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .column {
        text-align: center;
    }

    .card-group {
        display: flex;
        justify-content: space-around;
        margin: 30px;

        .card {
            background-color: white;
            background-image: url(/assets/Images/quote.png);
            background-repeat: no-repeat;
            background-position: 100% 100%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 30%;
            border-radius: 5px;
            padding: 2px 16px;
            margin: 15px;

            .round-img {
                border-radius: 50%;
                width: 60px;
            }

            .card-base {
                padding: 20px;
                
                h6 {
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}