body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
 
.game-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
 
.team {
    margin: 0 20px;
}
 
.team-info {
    margin-bottom: 20px;
}
 
.player {
    margin: 10px 0;
}
 
.player-input {
    display: inline-block;
    margin-right: 10px;
}
 
.score-buttons button,
.player button {
    margin: 5px;
}
 
#log {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 400px;
    margin: 0 auto;
}
 
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background-color: #0056b3;
}
 
.teamScore {
    display: flex;
    justify-content: center;
    align-items: center;
 
    .scoreWindow1, .scoreWindow2 {
        width: 80px;
        height: 40px;
        background-color: #007bff;
        border-radius: 5px;
        margin-left: 20px;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 
.last-section {
    display: flex;
    justify-content: center;
 
    button {
        margin: 20px 10px;
    }
}
